/* fonts */
/* 

offline fonts

    google fonts import link -->
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700;800&family=Anonymous+Pro:wght@400;700&family=Didact+Gothic&family=Jura:wght@300;400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Orelega+One&family=Play:wght@400;700&family=Rubik+Mono+One&family=Russo+One&family=Tenor+Sans&family=Yeseva+One&display=swap');

font-family: 'Didact Gothic', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Russo One', sans-serif;
*/

@font-face {
    font-family: 'Didact Gothic';
    src: url(fonts/DidactGothic-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url(fonts/MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family: 'Play';
    src: url(fonts/Play-Regular.ttf);
}
@font-face {
    font-family: 'Russo One';
    src: url(fonts/RussoOne-Regular.ttf);
}
body {font-family: 'Play', sans-serif;}
#navigation-top a, #breadcrumps p {font-family: 'Montserrat Alternates', sans-serif;}
#article-title{font-family: 'Russo One', sans-serif; font-weight: normal;}
h1 {font-family: 'Montserrat Alternates', sans-serif;}

/* end fonts */



/* var */

/* variables are gorgeous (^_^) */

:root {
    --accent: #10aaaa;
    
}
@media (prefers-color-scheme: dark) { 
    .auto, .auto * {
        --main-color: #bbb;
        --main-bg-color: #202020;
        --container-color: #353535;
        --items-hover-color: #353535;
        --border-color: #dddddd50;
    }
}
.dark, .dark * {
    --main-color: #bbb;
    --main-bg-color: #202020;
    --container-color: #353535;
    --items-hover-color: #353535;
    --border-color: #dddddd50;
}
@media (prefers-color-scheme: light) { 
    .auto, .auto * {
        --main-color: #202020;
        --main-bg-color: #fff;
        --container-color: #eee;
        --items-hover-color: #ddd;
        --border-color: #37373750;
    }
}
.light, .light * {
    --main-color: #202020;
    --main-bg-color: #fff;
    --container-color: #eee;
    --items-hover-color: #ddd;
    --border-color: #37373750;
}
.bluenav * {
    --accent: #202020;
    --main-color: #202020;
    --main-bg-color: #10aaaa;
    --container-color: #3dd2d2;
    --items-hover-color: #3dd2d2;
    --border-color: #3dd2d2;
    font-weight: bold;
}
.darknav * {
    --accent: #10aaaa;
    --main-color: #bbb;
    --main-bg-color: #202020;
    --container-color: #353535;
    --items-hover-color: #353535;
    --border-color: #dddddd50;
    font-weight: normal;
}
.tranparentnav * {
    --accent: #10aaaa;
    --main-color: #bbb;
    --main-bg-color: transparent;
    --container-color: transparent;
    --items-hover-color: #10aaaa40;
    --border-color: #10aaaa80;
    font-weight: normal;
}
.light, .dark, .auto {background-color: var(--main-bg-color); color: var(--main-color);}

#themes * {
    --main-color: #202020;
    --main-bg-color: #fff;
    --container-color: #eee;
    --items-hover-color: #ddd;
    --border-color: #37373750;
}
/* end var */



/* all */

* {transition: 0.1s; box-sizing: border-box;}
body, html {padding: 0px; margin: 0px;}

html::-webkit-scrollbar {width: 0px; height: 0px;}

body *::-webkit-scrollbar {width: 10px; height: 10px;}
body *::-webkit-scrollbar-track {background: transparent; margin-top: 10px; margin-bottom: 10px;}
body *::-webkit-scrollbar-thumb {background: var(--main-color); border-radius: 5px;}
body *::-webkit-scrollbar-thumb:hover {background: var(--accent);}

html { scroll-behavior: smooth;}

a {text-decoration: none;}

::-moz-selection {background-color: var(--accent); color: var(--main-bg-color);}
::selection {background-color: var(--accent); color: var(--main-bg-color);}

.none, .none * {transition: 0s !important; height: 0px !important; width: 0px !important; opacity: 0px !important; overflow: hidden !important;}
/* end all */



/* nav */
#nav-ph {
    width: 100%;
    height: 60px;   
    background-color: var(--main-bg-color);
}
#nav-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color: var(--main-bg-color);
    transition: 0.2s;
}
.shadow {box-shadow: 0px 0px 2px var(--border-color);}
.border {border: 1px solid var(--border-color);}
.border-bottom {box-sizing: content-box !important; border-bottom: 1px solid var(--border-color);}
#navigation-top {
    transition: 0.2s;
    position: fixed; 
    top: 0px; 
    width: 100%;
    height: 60px; 
    z-index: 1000;
    display: grid;
    grid-template-columns: 210px 1fr auto auto;
    padding: 0px;
}

#logo { transition: 0.4s; display: inline-block; height: 40px; margin: 10px; vertical-align: middle; cursor: pointer;}
.nav-logo {fill: var(--main-color);}
.nav-logo:first-child {fill: var(--accent);}
#linkbox {display: inline-block; vertical-align: middle; text-align: right;}

.menulink { 
    line-height: 1.0;
    position: relative;
    padding: 10px 12px 12px;
    color: var(--main-color);
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    margin: 11px 0px;
    cursor: pointer;
}
.menulink:hover {background-color: var(--items-hover-color);}
.menulink.active {border-bottom: 1px solid ;}
.hover-drop {display: inline-block; position: relative; margin: 0px 5px;}
.dropbox {
    display: none;
    position: absolute;
    right: 0px;
    background-color: var(--main-bg-color);    
    color: var(--main-color);
    margin-top: -6px;
    padding: 6px 0px;
    border-radius: 6px;
}
.dropbox a {display: block; text-align: left; margin: 0px; border-radius: 0px !important;}
#menu-btn, #theme-btn, #log-btn {vertical-align: top; margin: 11px 2px; padding: 11px; border-radius: 6px; color: var(--accent);}
#linkbox i {color: var(--accent);}
#menu-btn {display: none;}
.bars {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin: auto;
    background-color: transparent;
}
.bar {
    background-color: var(--accent);
    height: 6px;
    width: 20px;
    border-radius: 10px;
    margin: 0px 4px;
}

#menu-btn:hover, #theme-btn:hover, #log-btn:hover {background-color: var(--items-hover-color);}

.hover-drop .menulink i {transition: 0.3s;}

/* end nav */



/* hovernav */

#hovernav { 
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    opacity: 0.0;
}

/* end hovernav */



/* preloader */

#hoverbox {
    position: fixed; 
    top: 0px; 
    left: 0px; 
    height: 100%; 
    width: 100%; 
    background-color: var(--main-bg-color);
    z-index: 100000000;
    transition: 0.7s;
}
.loader {
    position: absolute; 
    height: 120px; 
    width: 120px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    transition: 1s;
}
.loader svg {width: 100%;  transition: 1s;}
#hellotext {
    text-align: center; 
    color: var(--main-color); 
    font-size: 70px; 
    line-height: 1.0; 
    margin-top: 10px; 
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
} 
@keyframes leon-color {
    0% {fill: #10aaaa;}
    10% {fill: #10aa77;}
    20% {fill: #10aa10;}
    30% {fill: #aaaa10;} 
    40% {fill: #aa7710;}
    50% {fill: #aa1010;}
    60% {fill: #aa1077;}
    70% {fill: #aa10aa;}
    80% {fill: #7710aa;}
    90% {fill: #1010aa;}
    100% {fill: #10aaaa;}
}
@-webkit-keyframes leon-color {
    0% {fill: #10aaaa;}
    10% {fill: #10aa77;}
    20% {fill: #10aa10;}
    30% {fill: #aaaa10;} 
    40% {fill: #aa7710;}
    50% {fill: #aa1010;}
    60% {fill: #aa1077;}
    70% {fill: #aa10aa;}
    80% {fill: #7710aa;}
    90% {fill: #1010aa;}
    100% {fill: #10aaaa;}
}
@keyframes leon-scale {
    0% {transform: scale(100%);}
    50% {transform: scale(150%);}
    100% {transform: scale(100%);}
}
@-webkit-keyframes leon-scale {
    0% {transform: scale(100%);}
    50% {transform: scale(150%);}
    100% {transform: scale(100%);}
}

/* end preloader */

/* toolbar */

#toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--main-bg-color);
    display: none;
}
#tool-container {
    height: 40px;
    max-width: 380px;
    margin: auto;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.icon-link {
    padding: 8px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.0;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
    width: 80%;
    text-align: center;
}
.icon-link:hover {background-color: var(--items-hover-color) !important;}

/* end toolbar */



/* searchbar */

@media screen and (max-width: 600px) {#nav { grid-template-columns: 0px 1fr 0px;}}
#search-cont-cond {
    margin: 10px;
    padding: 4px;
    background-color: var(--container-color);
    height: 40px;
    /* border: 2px solid var(--border-color); */
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 3px solid transparent;
    max-width: 300px;
}

#search-cont-cond input {
    box-sizing: border-box;
    height: 26px;
    padding: 3px 5px 5px;
    margin: 0px;
    font-family: 'Montserrat Alternates';
    line-height: 1.0;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: var(--main-color);
}

#search-cont {
    margin: 10px;
    padding: 12px;
    background-color: var(--container-color);
    height: 60px;
    /* border: 2px solid var(--border-color); */
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 4px solid transparent;
    box-sizing: border-box;
}

#search-cont input {
    box-sizing: border-box;
    padding: 3px 5px 5px;
    margin: 0px;
    font-family: 'Montserrat Alternates';
    line-height: 1.0;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: inherit;
    height: 28px;
    min-width: -webkit-fill-available;
}

#search-cont-cond input:focus-visible,
#search-cont input:focus-visible,
#search-btn-cond:focus-visible,
#search-btn:focus-visible {outline: none;}

#search-btn-cond,
#search-btn {
    background-color: transparent !important; 
    color: var(--main-color); 
    opacity: 0.3; 
    border: none; 
    line-height: 1.0;
}
#search-btn-cond:hover, #search-btn:hover {opacity: 1.0; color: var(--accent); line-height: 1.0;}

#clear-btn-cond, #clear-btn {display: inline-block; padding: 4px; border: none;}
#clear-btn-cond, #clear-btn {background-color: transparent !important; color: var(--main-color); opacity: 0.3; line-height: 1.0;}
#clear-btn-cond :hover, #clear-btn :hover {opacity: 1.0; color: var(--accent);}

#results-box {width: 100%; overflow: auto; max-width: 800px; margin: auto; padding: 10px;}

.article {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 18px;
    background-color: var(--container-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.article .text h2 {
    overflow-wrap: break-word;
    margin: 5px 5px 10px;
    line-height: 1.0;
    font-family: 'Montserrat Alternates';
    text-decoration: underline;
    text-decoration-color: var(--accent);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.breadcrumps { margin: 5px;}
.breadcrumps * {text-decoration-color: var(--accent) !important;}
.breadcrumps p {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 5px 0px;
}
.breadcrumps a {color: var(--main-color);}
.breadcrumps a:hover {text-decoration: 3px underline;}
.breadcrumps i {font-size: 0.8em;}
.tags{margin: 5px;}
.tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 4px 4px 0px;
    padding: 6px 8px 8px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--accent);
    transition: all 0.2s;
    line-height: 1.0;
    font-size: 16px;
    height: 32px;
}
.tag:hover {background-color: var(--items-hover-color); border: 3px solid var(--accent); padding: 4px 6px 6px;}
.auto .tag:hover, .light .tag:hover {color: var(--main-color)}
.image {cursor: pointer; min-height: 220px; height: 100%; border-radius: 10px; background-position: center; background-size: cover;}
@media screen and (max-width: 600px) {
    .article {display: block;}
}

/* end searchbar */



/* all sections */
.button {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 0px; 
    font-size: 20px;
    line-height: 1.0;
    height: 42px;
    padding: 8px 10px 10px 10px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    color: inherit;
}
.button:hover {
    border: 5px solid var(--accent);
    padding: 5px 7px 7px 7px;
}
.button.dark-btn {border-color: var(--accent) !important;}


/* section.hello */
#hello {
    transition: none;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

#hello h1 {
    display: block;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    font-size: 5vw;
    z-index: 11;
}
@media screen and (max-width: 800px) {
    #hello h1 {font-size: 10vw;}
}
.dot-wheel-container{
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 10;
}
.dot-wheel-container.reverse{
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(-102%, -50%);
    z-index: 10;
}
.wheel-dot {
    display: block;
    position: relative;
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    border-radius: 100%;
    transition: none;
    background-color: var(--accent);
    opacity: 0.3; 
}
.wheel-dot {animation: 2s linear 1s infinite running dot-slide;}
.reverse .wheel-dot {animation: 2s linear 1s infinite running dot-slide reverse;}
@keyframes dot-slide {0% {top: 0vw;} 100% {top: 11vw;}}
@-webkit-keyframes dot-slide {0% {top: 0vw;} 100% {top: 11vw;}}
@media screen and (max-width: 1000px) {
    .wheel-dot {
        width: 20vw;
        height: 20vw;
        margin: 2vw;
    }
    @keyframes dot-slide {0% {top: 0vw;} 100% {top: 22vw;}}
    @-webkit-keyframes dot-slide {0% {top: 0vw;} 100% {top: 22vw;}}
}
@media screen and (max-width: 600px) {
    .wheel-dot {
        width: 30vw;
        height: 30vw;
        margin: 3vw;
    }
    @keyframes dot-slide {0% {top: 0vw;} 100% {top: 33vw;}}
    @-webkit-keyframes dot-slide {0% {top: 0vw;} 100% {top: 33vw;}}
}
.swipe-act {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--main-color);
    text-align: center;
    z-index: 12;
    cursor: pointer;
}
.swipe-act:hover {transform: translate(-50%, 3px);}
.swipe-act p {font-size: large; margin: 0px 10px;}
.swipe-act i {font-size: 260%; margin-bottom: 0.5em;}

.hello-logo {
    position: absolute;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(5%,-60%);
    animation: 10s slideup infinite;
}
.hello-logo svg {
    height: 100%;
    opacity: 0.3;
}
@keyframes slideup {
    0% {transform: translate(5%, -60%);}
    50% {transform: translate(5%, -50%);}
    100% {transform: translate(5%, -60%);}
}
@-webkit-keyframes slideup {
    0% {transform: translate(5%, -60%);}
    50% {transform: translate(5%, -50%);}
    100% {transform: translate(5%, -60%);}
}
@media screen and (max-width: 1000px) {
    @keyframes slideup {
        0% {transform: translate(0%, -50%);}
        50% {transform: translate(0%, -30%);}
        100% {transform: translate(0%, -50%);}
    }
    @-webkit-keyframes slideup {
        0% {transform: translate(0%, -50%);}
        50% {transform: translate(0%, -30%);}
        100% {transform: translate(0%, -50%);}
    }
}
/* section.hello */


/* section.intro */

#intro {background-color: #202020;}
#intro-content {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-filter: brightness(90%); 
    filter: brightness(90%);
}
#introimg img {
    width: 100%; 
    padding: 20px;
    max-height: 500px;
}
#introtext {display: flex; flex-direction: column; justify-content: center; line-height: 1.5; color: #f4f4f4; padding: 20px 20px 20px 40px;}
#introtext h1 {margin: 0px 0px 20px 0px; color: var(--accent);}
#introtext p {margin: 0px;}
@media screen and (min-width: 900px) {
    #introtext h1 {font-size: 300%;}
    #introtext p {font-size: 120%;}
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    #introtext h1 {font-size: 240%;}
    #introtext p {font-size: 110%;}
}
@media screen and (max-width: 700px) {
    #intro-content{display: block;}
    #introtext h1 {font-size: 200%;}
    #introtext p {font-size: 100%;}
}
@media screen and (max-width: 700px) and (min-width: 400px) {
    #introimg img {width: 60%; position: relative; left: 50%; transform: translate(-50%,0%);}
    
}
@media screen and (max-width: 600px) and (min-width: 400px) {
    #introimg img {width: 80%;}
}
@media screen and (max-width: 400px) {
    #introtext {padding: 15px;}
}
/* end section.intro */


/* section.themes */
#themes {background-color: var(--accent);}
.dark #themes{filter: brightness(80%);}
#themes h1 {
    display: inline-block; 
    width: 100%; 
    text-align: center; 
    font-size: 2em;
    padding: 0px 10px;
    color: var(--main-color);
}
#themes ::-moz-selection {background-color: var(--main-color); color: var(--main-bg-color);}
#themes ::selection {background-color: var(--main-color); color: var(--main-bg-color);}
.themes-grid {
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    max-width: 900px;
    margin: auto;
    padding: 0px 20px 30px;
}
.theme {
    border-radius: 16px;
    background-color: var(--container-color);
    padding: 20px;
    border: 5px solid var(--accent);
    text-align: center;
    position: relative;
    cursor: pointer;
}
.theme:hover {
    box-shadow: 0px 0px 0px 5px var(--border-color);
    transform: translate(0%, -5px);
}
.theme i {
    color: var(--accent);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 2em;
    display: block;
}
.theme a {
    color: var(--main-color);
    font-size: 1.4em;
    display: block;
    padding-top: 0.4em;
}
@media screen and (max-width: 400px) {
    .theme i {
        position: absolute;
        display: inline-block;
        left: 1em;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .theme a {display: inline-block; padding-top: 0px;}
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .themes-grid {grid-template-columns: repeat(2, 1fr);}
    .theme:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .themes-grid {grid-template-columns: repeat(3, 1fr);}
    .theme:last-of-type {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
@media screen and (min-width: 900px) {
    .themes-grid {grid-template-columns: repeat(5, 1fr);}
}
@media screen and (min-width: 400px) {
    
}
/* end section.themes */


/* section.join */



/* end section.join */


/* section.about */



/* end section.about */


/* media */ 
@media screen and (max-width: 1000px) {
    #navigation-top #search-cont-cond {display: none;}
    #navigation-top {grid-template-columns: 210px 1fr auto;}
    #menu-btn {display: inline-block;}
}
@media screen and (max-width: 750px) {
    .hide1 {display: none;}
}
@media screen and (max-width: 650px) {
    .hide2 {display: none;}
    #toolbar {display: block;}
}
@media screen and (max-width: 500px) {
    .hide3 {display: none !important;}
}
@media screen and (max-width: 400px) {
    #navigation-top, #nav-cont, #linkbox, #nav-bg, #nav-ph {height: 40px !important;}
    #logo {height: 30px; margin: 5px;}
    #theme-btn {display: none;}
    #menu-btn {margin: 0px; padding: 12px; border-radius: 0px;}
    .bars.menulink {margin: 0px; border-radius: 0px;}
}

/* media */ 