/****************
 /)/)
(0 - 0)
( < <)

nemeleon.com
code by ukrounay (rnemaoh)   

°˖✧◝(⁰▿⁰)◜✧˖° 
****************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Ukraine flag */

.ua-flag { 
    height: 18px; 
    width: 24px; 
    display: inline-block; 
    border-radius: 3px;
    overflow: hidden;
} 
.ua-flag-upper, .ua-flag-lower { display: block; height: 50%; width: 100%; }
.ua-flag-upper { 
    animation: ua-flag-upper 10s infinite ease-in; 
    -webkit-animation: ua-flag-upper 10s infinite ease-in; 
    animation-delay: 10s; 
}
.ua-flag-lower { 
    animation: ua-flag-lower 10s infinite ease-in; 
    -webkit-animation: ua-flag-lower 10s infinite ease-in; 
    animation-delay: 10s; 
}
.ua-flag-upper { background-color: #4285f4; }
.ua-flag-lower { background-color: #fbbc05 }
@keyframes ua-flag-upper {
	0% { background-color: #4285f4; }
	10% { background-color: transparent; }
	20% { background-color: red; }
	40% { background-color: transparent; }
	50% { background-color: #4285f4; }
}
@keyframes ua-flag-lower {
	0% { background-color: #fbbc05; }
	10% { background-color: transparent; }
	20% { background-color: black; }
	40% { background-color: transparent; }
	50% { background-color: #fbbc05; }
}
@-webkit-keyframes ua-flag-upper {
	0% { background-color: #4285f4; }
	10% { background-color: transparent; }
	20% { background-color: red; }
	40% { background-color: transparent; }
	50% { background-color: #4285f4; }
}
@-webkit-keyframes ua-flag-lower {
	0% { background-color: #fbbc05; }
	10% { background-color: transparent; }
	20% { background-color: black; }
	40% { background-color: transparent; }
	50% { background-color: #fbbc05; }
}


/* all */

:root {

    /* colors */

    --dark: #1F2828;
    --gray: #373737;
    --caribbean: #186565;
    --light-sea-green: #10aaaa;
    --tiffany-blue: #7fcccc;
    --light-blue: #e1eaea;
    --light: #eeeeee;
    --white: #f1f1f1;
    --light-gray: #e3e3e3;
    --gray: #cccccc;

    /* shadows */

    --light-shadow: 0 0 15px -10px #1F282840;
    --mid-shadow: 0 0 10px -5px #1F282860;
    --blue-shadow: 0 0 0 6px #10aaaaaa;

    /* fonts */

    --content-font: 'Montserrat Alternates', sans-serif;
    --header-font:'Playfair Display', serif;
    --article-font: 'Raleway', serif;
    --article-header-font: 'Montserrat Alternates', serif;

    /* sizes */

    --max-width: 1200px;
    --max-width-outer: 1400px;
    --column-10-12: 83.33%;

    /* columns */

    --right-side-menu: 5fr 2fr;
}

/*body.light-off :root {

         colors 

        --dark: #1F2828;
        --gray: #373737;
        --caribbean: #186565;
        --light-sea-green: #10aaaa;
        --tiffany-blue: #7fcccc;
        --light-blue: #e1eaea;
        --light: #eeeeee;
        --white: #f1f1f1;
        --light-gray: #e3e3e3;
        --gray: #cccccc;
    
         shadows 
    
        --light-shadow: 0 0 15px -10px #a7dbdb40;
        --mid-shadow: 0 0 10px -5px #a5d3d360;
        --blue-shadow: 0 0 0 6px #10aaaaaa;

}*/

@media screen and (min-width: 1600px) {
    :root {
        --max-width: 1400px;
    }
}

/* 
@media screen and (min-width: 1600px) {:root { --right-side-menu: 4fr 1fr; }}
@media screen and (min-width: 1600px) {:root { --right-side-menu: 4fr 1fr; }}
@media screen and (min-width: 1600px) {:root { --right-side-menu: 4fr 1fr; }} 
*/


* {
    box-sizing: border-box; 
    transition: 0.2s;
    font-size: 1rem;
}
html {
    scroll-behavior: smooth;
    font-size: 18px;
}
body {
    padding: 0; 
    margin: 0; 
    color: var(--dark);
    background-color: var(--light);
    font-family: var(--content-font);
}
h1, h2, h3 {font-family: var(--header-font);}
a {color: inherit; text-decoration: none;}



/*/  HEADER  /*/

header.blue {background-color: var(--light-blue);}


/* navbar */
nav {
    padding: 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    line-height: 1;
    max-width: var(--max-width-outer);
    margin: auto;
}
nav.blurred {padding-bottom: 0 !important;}
nav.limited {padding: 20px; max-width: var(--max-width);}
nav ul {
    padding: 0;
    margin: 0;
    text-align: right;
    list-style-type: none;
}
nav li {display: inline;}
nav i {font-size: 0.8rem;}

/* menu links */
.hover-drop-container {
    display: inline-grid; 
    grid-template-rows: auto 1fr;
    position: relative;
    z-index: 10;
}
.hover-drop {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    height: 0;
    border-radius: 12px;
    margin-top: 42px;
    box-shadow: var(--light-shadow);
    background-color: var(--light);
}
.hover-drop-container:hover .hover-drop {
    height: 150px;
    padding: 12px 0;
}
.hover-drop a {
    display: block;
    position: relative;
    padding: 12px 20px;
    text-align: left;
    outline: 1px solid transparent;
}
.hover-drop a:hover {background-color: var(--light-gray);}
.nav-button {
    padding: 12px 0px;
    border-radius: 50px;
    margin-left: 45px;
}
.nav-button.filled {
    color: var(--light);
    background-color: var(--dark);
    transition: 0.1s;
    padding: 12px 45px;
}
.nav-button.filled:hover {opacity: 0.9;}


/* logo */

#logo-container {height: 60px;}
.logo {height: 100%;}
.nav-logo {fill: var(--dark);}
.nav-logo:first-of-type {fill: var(--light-sea-green);}



/* hello section */

#hello-screen {
    max-width: var(--max-width);
    margin: auto;
    position: relative;
    height: 600px;
    padding: 0 40px 40px;
}
#hello-screen h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 0;
}
#hello-screen p, #hello-screen a {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 550px;
}
.button {
    border-radius: 50px;
    padding: 16px 50px;
    display: inline-block;
}
.button.filled {
    color: var(--light);
    background-color: var(--dark);
    transition: 0.1s;   
}
.button.filled:hover {
    opacity: 0.9;
}

.header-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 450px;
    right: 0;
    margin-left: auto;
}
.col.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40px;
}
.col.img {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 40px;
}



/*/  SEARCH  /*/

#search {
    position: relative;
    max-width: var(--max-width);
    margin: 50px auto;
    padding: 0 40px;
}
#left-eye {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%;
    z-index: 8;
}
#right-eye {
    position: absolute;
    right: 40px;
    top: 0;
    height: 100%;
    z-index: 9;
}
#left-eye img, #right-eye img {
    position: absolute;
    height: 80%;
}
#left-eye img {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
#right-eye img {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#search-content {
    width: 80%;
    margin: auto;
    background-color: var(--light-blue);
    display: flex; 
    flex-direction: column;
    gap: 30px;
    padding: 100px 0;
    border-radius: 50px;
}
#search-content h2 {
    font-size: 3.5rem;
    text-align: center;
    width: 60%;
    margin: auto;
}
#search-content p {
    font-size: 1rem;
    line-height: 1.6;
    width: 50%;
    margin: auto;
}
.search-box {
    background-color: var(--white);
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: var(--light-shadow);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    width: 60%;
    margin: auto;
    outline: 0px solid transparent;
    transition: 0.1s;
}
.search-box * {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0.1rem;
    line-height: 1;
    font-size: 1rem;
    width: auto;
}
.search-box button:hover {cursor: pointer; color: var(--caribbean);}
.search-box i {transition: 0.05s;}
.search-box input {font-size: 1.2rem; font: inherit; padding: 0;}
.search-box input:focus-visible {outline: none;}
.search-box.active {
    /* outline: 2px solid var(--light-sea-green); */
    box-shadow: var(--blue-shadow);
}



/*/  FOOTER  /*/

footer { 
    background-color: var(--dark); 
    color: var(--light); 
    line-height: 1.0; 
}

.foot-grid-cont { 
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    max-width: var(--max-width-outer); margin: auto; 
    padding: 40px; 
}
.foot-grid-elem {
    flex: 50%; 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.foot-grid-elem p {margin: 0;}
.foot-grid-elem:nth-of-type(1) { text-align: left; }
.foot-grid-elem:nth-of-type(2) { text-align: center; }
.foot-grid-elem:nth-of-type(3) { text-align: right; }

.footer-btn {
    transition: 0.1s;
    padding: 10px 12px;
    border-radius: 30px;
    margin: 10px 5px;
    display: inline-flex;
    gap: 3px;
    background-color: black;
    outline: 0px solid var(--btn-border-color);
}
.footer-btn span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding: 0px 0px 2px 4px;
}
.footer-btn i {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.footer-btn:hover {
    box-shadow: 0px 0px 0px 6px var(--btn-shadow-color);
}
.footer-btn:hover i {color: var(--btn-color);}
@media screen and (max-width: 1100px) {
    .foot-grid-cont {display: block;}
    .foot-grid-elem {text-align: center !important;}
    .foot-grid-elem p {justify-content: center;}
}
@media screen and (max-width: 576px) {
    footer {padding: 0px;}
}


/* ratio boxes */

.ratio {width: 100%; position: relative;}
.ratio.c1-2 {padding-top: 50%;}
.ratio.c9-16 {padding-top: 56.25%;}
.ratio.c3-4 {padding-top: 75%;}
.ratio.c1-1 {padding-top: 100%;}
.ratio :first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}