@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
}
html {
    scroll-behavior: smooth;
    font-size: var(--site-font-size);
}
body {
    line-height: 1;
    height: 100%;
    background-color: var(--cl-bg-body);
    color: var(--cl-fg-primary);
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: Bion;
    font-weight: normal;
} */

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--cl-bg-containers);
    transition: 0.2s;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--cl-accent);
}

:root {
    /* colors */

    --cl-bg-body: white;

    --cl-bg-primary: #f1f1f1;
    --cl-fg-primary: #1f1f1f;

    --cl-bg-secondary: #d6e6ee;
    --cl-fg-secondary: #5f5b74;

    --cl-bg-containers: #bcdbee;
    --cl-fg-containers: #171717;

    --cl-accent-light: #90ccef;
    --cl-accent: #48CAE4;
    --cl-accent-mid-dark: #0096C7;
    --cl-accent-dark: #083167;

    --cl-bg-good: #10bb2c80;
    --cl-fg-good: #10bb2c;

    --cl-bg-bad: #dd181880;
    --cl-fg-bad: #dd1818;

    /* values */

    --site-font-size: 16px;

    --w-side-menu-min: 7rem;
    --w-side-menu-max: 20rem;

    --w-thin-content-max: 40rem;
    --w-content-max: 70rem;
    --w-wide-content-max: 90rem;
    
    --w-side-content-min: 18rem;

    --h-top-nav-bar: 4.5rem;
    --h-bottom-nav-bar: 5rem;

    --p: 1rem;
    --p-s: 0.5rem;
    --p-l: 1.5rem;
    --p-cont: 3rem;

    --p-button: 1rem 2.4rem;

    --br: 1rem;
    --br-s: 0.5rem;
    --br-l: 1.5rem;
    --br-outer: 2rem;
    --br-outer-s: 1.5rem;
    --br-outer-l: 2.5rem;
    --br-cont: 4rem;

}


/*  aspect ratio boxes  */
.ratio {width: 100%; position: relative;}
.c21-9  {padding-top: 42.85%;}
.c2-1   {padding-top: 50%;}
.c16-9  {padding-top: 56.25%;}
.c16-10 {padding-top: 62.5%;}
.c4-3   {padding-top: 75%;}
.c1-1   {padding-top: 100%;}
.c3-4   {padding-top: 133.33%;}
.c9-16  {padding-top: 177.77%;}
.c1-2   {padding-top: 200%;}
.ratio-item {position: absolute; top: 0; left: 0; bottom: 0; right: 0;}


a { color: inherit;}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: var(--p-button);
    border-radius: var(--br-cont);
    font-weight: bold;
}

.button.filled {
    background-color: var(--cl-accent-dark);
    color: var(--cl-bg-containers);
}
.button.light-filled {
    background-color: var(--cl-accent-light);
    color: var(--cl-fg-containers);
}
.button:hover {
    background-color: var(--cl-accent-mid-dark);
}

.cta-block {
    display: flex;
    gap: var(--p);
    flex-wrap: wrap;
}
.button-cta {
    display: inline-flex;
    gap: var(--p-s);
}
.button-cta:hover i {
    transform: translateX(50%);
}

.button.inline {
    padding: var(--p-s) var(--p);
    background-color: var(--cl-bg-primary);
}
.button.inline:hover {
    background-color: var(--cl-bg-containers);
}

/*\ structure \*/

.site {
    /* position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0; */
    width: 100%;
    min-height: 100%;
    background-color: var(--cl-bg-body);
    color: var(--cl-fg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .side-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
} */

.side-menu {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: var(--w-side-menu-min);
    border-radius: 0 var(--br-outer-l) var(--br-outer-l) 0;

    background-color: var(--cl-bg-secondary);
    color: var(--cl-fg-secondary);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s;
}
.side-menu.open {
    width: var(--w-side-menu-max);
}
.side-menu .top,
.side-menu .mid, 
.side-menu .bottom {
    padding: var(--p-l);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.side-menu .logo  {
    fill: var(--cl-accent-dark);
    display: flex;
    gap: 0.8rem;
    overflow: hidden;
    height: 4rem;
}
.side-menu .logo svg {
    height: 100%;
    overflow: visible;
}
.side-menu .logo-icon {
    height: 100%;
    padding: var(--p-s) 0 var(--p-s) 0.2rem;
}
.side-menu .logo-text {
    height: 100%;
    width: auto;
    padding: 1.2rem 0;
}



.side-menu .menu-button {
    padding: var(--p);
    background-color: var(--cl-bg-body);
    color: var(--cl-accent-dark);
    border-radius: var(--br);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--p);
    overflow: hidden;
}

.side-menu .menu-button i::before {
    margin: 0;
    font-size: 2rem;
}
.side-menu .menu-button span {
    font-size: 1.2rem;
    font-variation-settings: "wght" 700;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 0.4rem;
}

.side-menu .menu-button:not(.search-bar):hover {
    background-color: var(--cl-accent-light);
    cursor: pointer;
}

.search-bar {
    cursor: text;
}

.side-menu-search {
    font: inherit;
    font-size: 1.2rem;
    font-variation-settings: "wght" 700;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 0 0 0 0.4rem;
    border: none;
    outline: none !important;
    color: var(--cl-accent-dark);
    background: transparent;
}



.top-nav-bar {
    position: sticky;
    top: 0;
    padding-top: var(--p);
    width: calc(100% - calc(var(--p) * 2));
    max-width: var(--w-wide-content-max);
    border-radius: 0 0 var(--br-l) var(--br-l);
    z-index: 100;
    backdrop-filter: blur(10px);
    margin-bottom: var(--p);
}

.top-nav-bar nav {
    display: flex;
    flex-direction: column;
    border-radius: var(--br-l);
    padding: var(--p-s);
    top: var(--p);
    background-color: var(--cl-bg-primary);
}
.nav-content {
    display: flex;
    justify-content: space-between;
}
.top-nav-bar .links, .top-nav-bar .actions {
    display: inline-flex;
    align-items: center;
    gap: var(--p-s);
}
.top-nav-bar .logo {
    display: inline-flex;
    align-items: center;
    /* padding: var(--p-s); */
    height: 2.6rem;
    /* height: 100%; */
    /* width: 100%; */
    padding: 0.2rem;
}

.top-nav-bar .logo span {
    height: 100%;
    /* display: inline-block; */
} 
.top-nav-bar .logo-text {
    padding: 0.25rem 0 0.65rem 0.5rem;
}
.top-nav-bar svg {
    height: 100%;
    fill: var(--cl-accent-dark);
}

.top-nav-bar a {text-decoration: none;}

.menu-button, .search-bar {
    padding: var(--p-s) var(--p);
    background-color: var(--cl-bg-body);
    color: var(--cl-accent-dark);
    border-radius: var(--br);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--p-s);
}


.menu-button {
    font-size: 1.2rem;
    font-variation-settings: "wght" 600;
    text-wrap: nowrap;
    /* padding-top: 0.2rem; */
    display: inline-flex;
    gap: var(--p-s);
    align-items: center;
    justify-content: center;
    min-height: 2.6rem;
}

.top-nav-bar i::before {
    margin: 0;
    font-size: 1.6rem;
}

.menu-button .pfp {
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100%;
    background-size: cover;
}

.top-nav-bar .menu-button:not(.search-bar):hover {
    background-color: var(--cl-accent-light);
    cursor: pointer;
}

.top-nav-bar .search-bar {
    cursor: text;
}

.menu-search {
    font: inherit;
    font-size: 1.2rem;
    font-variation-settings: "wght" 700;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 0 0 0 0.4rem;
    border: none;
    outline: none !important;
    color: var(--cl-accent-dark);
    background: transparent;
}



.preference {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--p-s);
    padding: var(--p-s);
}

.dropdown-menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.2s ease-out;
}
.dropdown-menu-content {
    width: 100%;
    padding-top: var(--p-s);
    display: flex;
    gap: var(--p-s);
    overflow: hidden;
    transition: 0.2s ease-out;
    flex-wrap: wrap;
}
.dropdown-menu-content .links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.dropdown-menu .search-bar {
    width: 100%;
}
.content-container {
    display: grid;
    grid-template-columns: 3fr 8fr;
    gap: var(--p-cont);
}

.content {
    padding: 0 var(--p);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--w-content-max);
}




.button-slim {
    padding: var(--p-s) var(--p);
    border-radius: var(--br);
    text-decoration: none;
    background-color: var(--cl-bg-containers);
}
.button-slim:hover {
    background-color: var(--cl-accent-light);
}


.switch {
    position: relative;
    display: inline-block;
    height: var(--p-l);
    width: var(--p-cont);
    background-color: var(--cl-bg-containers);
    border-radius: var(--br);
}

.switch-handle {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--p);
    height: var(--p);
    background-color: var(--cl-accent);
    border-radius: var(--br);

}
.theme-toggle .switch-handle::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    background-color: var(--cl-bg-containers);
}

.theme-toggle.light .switch-handle {
    left: 0.8rem;
}
.theme-toggle.auto .switch-handle {
    left: 1.5rem;
    height: 0.5rem;
}
.theme-toggle.dark .switch-handle {
    left: 2.2rem;
}

.theme-toggle.auto .switch-handle::before {
    width: 0rem;
    height: 0rem;
    top: -0.5rem;
}
.theme-toggle.dark .switch-handle::before {
    top: 0.3rem;
    left: 0.4rem;
    width: 0.7rem;
    height: 0.7rem;
}

#menu-toggle i::before {
    transition: 0.15s ease-out;
}
#menu-toggle.active i::before {
    transform: rotate(180deg);
}

.hash-title {
    position: relative;
    margin-bottom: var(--p-l);
    padding-left: var(--br-outer);
}
.hash-title:hover {
    padding-left: var(--br-outer-l);
}
.hash-title a {
    display: inline-block;
    padding: var(--p-s) var(--p);
    border-radius: var(--br-l);
    text-decoration: none; 
    position: relative;
}
.hash-title::before {
    content: "#";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: var(--p-s);
    transform: translateY(-50%);
    opacity: 0.5;
}
.hash-title:hover a {
    background-color: var(--cl-bg-containers);
    transition: 0.2s;
}
.hash-title:hover::before {
    opacity: 1;
}

.badge {
    padding: 0 0.5rem;
    border-radius: var(--br);
}

.ph-vertical,
.ph-horisontal {
    display: block;
    background-color: var(--cl-accent-light);
}
.ph-vertical {
    height: 100%;
    width: 1px;
}
.ph-horisontal {
    height: 1px;
    width: 100%;
}







/*\ responsive \*/ 


.hidden {
    display: none !important;
}

@media (max-width: 1000px) {
    .mid-hidden {display: none;}
    .content-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 600px) {
    .small-hidden {display: none;}
    .top-nav-bar {
        padding-top: var(--p-s);
        margin-bottom: var(--p-s);
    }
    .dropdown-menu-content,
    .dropdown-menu-content .links {
        flex-direction: column;
    }
    .dropdown-menu .search-bar,
    .dropdown-menu .menu-button {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .mid-visible {
        display: none !important;
    }
    .dropdown-menu {
        display: none !important;
    }
}
@media (min-width: 600px) {
    .small-visible {
        display: none !important;
    }
}
