/* slider styles */

.nemeo-slider {
    position: relative;
    width: 100%;
    margin: auto;
}
.slider-content {
    position: relative;
    width: 100%;
    border-radius: var(--br);
    overflow: hidden;
    padding-top: 50%;
}
.slider-body {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    touch-action: pan-y;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 1;
    cursor: grab;
    border-radius: var(--br);
    overflow: hidden;
}

.slide-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: var(--br);
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.slide-container * {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    min-height: fit-content;
}

.slide-bg {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: -1;
    filter: blur(10px);
}


.previous-btn, .next-btn {
    background-color: #1f1f1f60;
    color: #f1f1f1;
    opacity: 0;
    padding: var(--p-s);
    border-radius: var(--br-s);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: 0.2s;
    font-size: 1.5rem;
}

.previous-btn i::before, .next-btn i::before {
    margin: 0;
}

.nemeo-slider:hover .previous-btn, .nemeo-slider:hover .next-btn {
    opacity: 0.8;
}
.previous-btn:hover, .next-btn:hover {
    opacity: 1 !important;
}

.previous-btn.unavialable, .next-btn.unavialable {
    opacity: 0 !important;
}

.previous-btn {left: var(--p-s);}
.next-btn {right: var(--p-s);}

.indicators-container {
    position: absolute;
    bottom: var(--p-s);
    left: 50%;
    display: inline-flex;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    transition: 0.2s;
    background-color: #1f1f1faa;
    border-radius: var(--br);
    padding: 0 0.2rem;
}
.nemeo-slider:hover .indicators-container {
    opacity: 0.6;
} 
.indicators-container:hover {
    opacity: 1 !important;
}
.indicator {
    position: relative;
    display: inline-block;
    padding: 0.8rem 0.6rem;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: var(--br-s);
    border: 1px solid #f1f1f1;
}

.indicator.active::before {
    background-color: #f1f1f1;
}

.number-indicator {
    font-weight: 300;
    line-height: 1;
    border-radius: var(--br-s);
    padding: var(--p-s);
    position: absolute;
    z-index: 9;
    left:  var(--p-s);
    top:  var(--p-s);
    background-color: #1f1f1f60;
    color: #f1f1f1;
    opacity: 0;
    transition: 0.2s;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.nemeo-slider:hover .number-indicator {opacity: 1;}
