.hover {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cl-bg-body);
    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--p-l);
    padding: var(--p-l);
    overflow: auto;
}
.image-container {
    position: relative;
    display: none;
    border: 2px solid #ddd;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
}

.clip-box {
    position: absolute;
    border: 2px dashed #333;
    cursor: move;
    background: rgba(0, 0, 0, 0.2);
}

/* Resize handles */
.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #333;
    cursor: pointer;
}

.resize-handle.top-left { top: -5px; left: -5px; cursor: nwse-resize; }
.resize-handle.top-right { top: -5px; right: -5px; cursor: nesw-resize; }
.resize-handle.bottom-left { bottom: -5px; left: -5px; cursor: nesw-resize; }
.resize-handle.bottom-right { bottom: -5px; right: -5px; cursor: nwse-resize; }

.controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.preview-pfp-container {
    max-width: 15rem;
    width: 100%;
    margin: auto;
}
.preview-pfp-container .ratio {
    width: 100%;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 100%;
}
#output-image {
    width: 100%;
}