
.ni-angle-down:before { content: '\e800'; } /* '' */
.ni-angle-left:before { content: '\e801'; } /* '' */
.ni-angle-right:before { content: '\e802'; } /* '' */
.ni-angle-up:before { content: '\e803'; } /* '' */
.ni-arrow-left:before { content: '\e804'; } /* '' */
.ni-arrow-down:before { content: '\e805'; } /* '' */
.ni-arrow-up:before { content: '\e806'; } /* '' */
.ni-arrow-right:before { content: '\e807'; } /* '' */
.ni-calendar:before { content: '\e808'; } /* '' */
.ni-left-eye:before { content: '\e809'; } /* '' */
.ni-left-eye-closed:before { content: '\e80a'; } /* '' */
.ni-magnificier:before { content: '\e80b'; } /* '' */
.ni-x:before { content: '\e80c'; } /* '' */
